<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/common :: head}">
</head>
<head>
    <!--    <link rel="stylesheet" href="css/main.css" />-->

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg" th:replace="~{fragments/common :: navBar}">
</nav>
<div id="wrapper">
    <div class="container">
        <div style=" background-color:#053897; ">
            <div class="col-md-12">
                <br>
                <div class="jumbo-tron text-center" style="color:white;">
                    <h2>등록 및 방문내역 확인</h2>
                    <h4>제목 : 리시브가드 장비 정기점검</h4>
                </div>
                <br>
                <div class="alert alert-light" role="alert">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            방문예정
                        </div>
                    </div>
                </div>
                <div class="alert alert-light" role="alert" style="color:black;">
                    <p style = "font-size:20px">내방일정</p>
                    <hr>
                    <div style="margin-left: 25px;">
                        <p>등록일 : 2023-03-22</p>
                        <p>내방예정일 : 2023-03-28</p>
                        <p>내방일시 : 2023-03-28 오전 10:57:36</p>
                        <p>내방회사 : SL(주)-진량공장</p>
                    </div>
                </div>
                <div class="alert alert-light" role="alert" style="color:black;">
                    <p style = "font-size:20px">방문자 정보</p>
                    <hr>
                    <div style="margin-left: 25px;">
                        <p>차량번호 : </p>
                        <p>성명 : 김영진</p>
                        <p>소속 :위더스시큐리티</p>
                        <p>직급 : 부장</p>
                        <p>내방목적 : 업무협의(면담, 회의)</p>
                        <p>상세내역 : </p>
                    </div>
                </div>

                <div class="alert alert-light" role="alert" style="color:black;">
                    <p style = "font-size:20px">신청자 정보</p>
                    <hr>
                    <div style="margin-left: 25px;">
                        <p>성명 : 유승규</p>
                        <p>부서 : 정보보안팀</p>
                        <p>메일 주소 : seungkyuyoo@slworld.com</p>
                        <p>전화번호 : 010-1234-5678</p>
                        <p>보안스티커 : 부착</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>

    </div>
</div>
</body>
</html>