<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/common :: head}">
</head>
<head>
    <link rel="stylesheet" href="css/list.css" />


</head>

<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg" th:replace="~{fragments/common :: navBar}">
</nav>

<div id="wrapper">
    <div class="container">

        <div class="col-md-12 py-4">
            <div class="text-center" onclick="location.href='/list';">
                <h2>전체 예약 리스트</h2>
            </div>
            <form th:action="@{/list}" method="get">
            <table style="border-spacing: 10px; border-collapse: separate;">
                <tr >
                    <td>기간검색</td>
                    <td><input type="date" class="form-control" placeholder="날짜 선택" aria-label="날짜 선택" aria-describedby="basic-addon2"></td>
                    <td><input type="date" class="form-control" placeholder="날짜 선택" aria-label="날짜 선택" aria-describedby="basic-addon2"></td>
                </tr>
            </table>
            <table style="border-spacing: 10px; border-collapse: separate;">
                <tr>
                    <td>상태선택</td>
                    <td>
                        <div class="form-group">
                            <input class="position-checkbox"  name ="state"  type="checkbox" value="0">방문전
                            <input class="position-checkbox"  name ="state" type="checkbox" value="1">방문중
                            <input class="position-checkbox"  name ="state" type="checkbox" value="2">방문완료

                        </div>

                    </td>

                </tr>
            </table>
            <div style="float: left; ">
                    <div class="input-group mb-3" >
                        <select class="form-select btn-outline-secondary" id="searchDrop" name="type" >
                            <option value="all" selected  style="display: none;">검색 옵션 선택</option>
                            <option value="visitor_name">내방자명</option>
                            <option value="register_name">등록자명</option>
                            <option value="register_company">내방자회사</option>
                            <option value="title">제목</option>
                        </select>
                        <input type="text" value="" name="searchKeyword" class="form-control" placeholder="검색어" aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">조회</button>
                        </div>
                    </div>
            </div>
            </form>
            <!-- 목록-->
            <div class="table-responsive">
                <span class="badge bg-secondary">전체 등록 <span th:text="${resultMap.list.totalElements}">50</span>건</span>
                <span class="badge bg-secondary">현재 <span th:text="${#lists.size(resultMap.list.content)}">15</span>개</span>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="13%">등록번호</th>
                        <th width="13%">등록부서</th>
                        <th width="10%">등록자</th>
                        <th width="15%">제목</th>
                        <th width="15%">내방자명</th>
                        <th width="10%">내방자회사</th>
                        <th width="12%">등록일시</th>
                        <th width="12%">방문예정일</th>
                        <th width="12%">상태</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr  th:each="list,index: ${resultMap.list}" th:with="paging=${resultMap.paging}" th:data-href="@{/list/detail(id=${list.id})}" >
                        <td data-label="등록번호"
                            th:text="${#temporals.format(#temporals.createDate(list.REQ_DATE, 'yyyy-MM-dd HH:mm:ss.S'),
                                 'yyyyMMdd')+'-'+list.id}">
                            등록번호
                        </td>
                        <td data-label="등록부서" th:text="${list.DEPT_ID}">등록부서</td>
                        <td data-label="등록자"  th:text="${list.USER_ID}">등록자</td>
                        <td data-label="제목"   th:text="${list.TITLE}">이건 제목이 아주 길지롱?</td>
                        <td data-label="내방자명" th:text="${list.VISITOR != null && !list.VISITOR.isEmpty() && list.VISITOR.contains(',') ? (list.VISITOR.endsWith(',') ? list.VISITOR.substring(0, list.VISITOR.length() - 1) : list.VISITOR.replace(',', ', ')) : (list.VISITOR != null ? list.VISITOR : '')}">
                            내방자명
                        </td>
                        <td data-label="내방자회사">
                            <span th:utext="${list.visitAssign != null && !list.visitAssign.isEmpty() && list.visitAssign.contains(',') ? (list.visitAssign.endsWith(',') ? list.visitAssign.substring(0, list.visitAssign.length() - 1) : list.visitAssign.replace(',', ', ')) : (list.visitAssign != null ? list.visitAssign : '')}">내방자회사</span>
                        </td>
                        <td data-label="등록일시" th:text="${#temporals.format(#temporals.createDateTime(list.REQ_DATE, 'yyyy-MM-dd HH:mm:ss.S'), 'yyyy-MM-dd a hh:mm')}">
                            등록일시
                        </td>
                        <td data-label="방문예정일" th:text="${#temporals.createDate(list.deDate, 'yyyy-MM-dd')}" >
                            방문예정일
                        </td>
                        <td data-label="상태" class= "state" th:text="${list.stateID == '0' ? '방문전' :
                                 (list.stateID == '1' ? '방문중' :
                                  (list.stateID == '2' ? '방문완료' : '미방문'))}">
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example" style="margin-top: 10px;">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${resultMap.totalPage} > 0" th:each="index : ${#numbers.sequence(1, resultMap.totalPage)}"
                        th:with="paging=${resultMap.paging}">
                        <a class="page-link"
                           th:href="@{/list(page=${index-1}, searchKeyword = ${param.searchKeyword},type = ${param.type},state = ${param.state},size=${paging.pageSize})}"
                           th:classappend="${index-1 == currentPage} ? 'active' : ''">
                            <span th:text="${index}"></span>
                        </a>
                        <a class="page-link" th:if="${index == nowPage}" th:text="${page}" style="background-color : #539acc"></a>
                    </li>
                </ul>
            </nav>


        </div>
    </div>

</div>

<script src="js/list.js"></script>

</body>
</html>