<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/common :: head}">
</head>
<head>
    <!--    <link rel="stylesheet" href="css/main.css" />-->


</head>

<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg" th:replace="~{fragments/common :: navBar}">
</nav>

<div id="wrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="py-5 text-center">
                <h2>전체 예약 리스트</h2>
            </div>

            <div style="margin-bottom: 5px;">
                <span class="badge bg-secondary">전체 등록 x 개</span>
                <span class="badge bg-secondary">현재 x 개</span>
            </div>

            <div>
                <div style="float: left; ">
                    <div class="input-group mb-3" >
                        <select class="form-select btn-outline-secondary" id="plant" name="color" >
                            <option value="" selected  style="display: none;">계열사 선택</option>
                            <option value="visit_name">내방자명</option>
                            <option value="2">등록자명</option>
                            <option value="3">내방자회사</option>
                            <option value="4">제목</option>
                            <option value="5">차량번호</option>
                        </select>
                        <input type="text" class="form-control" placeholder="검색어" aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">조회</button>
                        </div>
                    </div>
                </div>
                <div style="float: right; ">
                    <span class="badge bg-secondary"></span>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" placeholder="날짜 선택" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">조회</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="table-responsive" style="font-size : 0.75em">
                <table class="table table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th width="10%" scope="row" style="white-space:nowrap;">등록번호</th>
                        <th width="12%" style="white-space:nowrap;">등록부서</th>
                        <th width="10%"style="white-space:nowrap;">등록자</th>
                        <th width="33%" style="white-space:nowrap;">제목</th>
                        <th width="10%" style="white-space:nowrap;">내방자명</th>
                        <th width="10%" style="white-space:nowrap;">내방자회사</th>
                        <th width="15%" style="white-space:nowrap;">내방목적</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="list,index: ${resultMap.list}" th:with="paging=${resultMap.paging}">

                        <td style="white-space:nowrap;" th:text="${list.id}">등록번호</td>
                        <td style="white-space:nowrap;" th:text="${list.DEPT_ID}">등록부서</td>
                        <td style="white-space:nowrap;" th:text="${list.USER_ID}">등록자</td>
                        <td>
                            <a th:href="@{/list/{postId}(postId=${list.id})}"
                               th:text="${list.TITLE}">제목</a>
                        </td>
                        <td style="white-space:nowrap;" th:text="${list.VISITOR}">내방자명</td>
                        <td style="white-space:nowrap;" th:text="${list.VISIT_ASSIGN}">내방자회사</td>
                        <td style="white-space:nowrap;" th:text="${list.VISIT_PURPOSE}">내방목적</td>

                    </tr>
                    </tbody>
                </table>
            </div>


            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${resultMap.totalPage} > 0" th:each="index : ${#numbers.sequence(1, resultMap.totalPage)}"
                        th:with="paging=${resultMap.paging}">
                        <a class="page-link"
                           th:href="@{/list(page=${index-1})}">
                            <span th:text="${index}"></span>
                        </a>
                    </li>
                </ul>

            </nav>

        </div>
    </div>
</div>


</body>
</html>