<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/common :: head}"> </head>
<head>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
<!-- 네비게이션 바 -->
<nav
        class="navbar navbar-expand-lg"
        th:replace="~{fragments/common :: navBar}"
></nav>

<!-- 배너 -->
<div class="container">
  <div class="parent">
    <section class="banner">
      <h2>방문자 관리 시스템</h2>
      <h4>Guest Management System</h4>
      <button class="btn guide-button" type="button">
        <img src="img/white_link.png" alt="링크" class="link-icon" />사용
        가이드 보기
      </button>
    </section>
  </div>

  <!-- 버튼들 -->
  <main>
    <div class="row no-gutters">
      <div class="col-6 col-md buttons">
        <button type="button" class="common-button odd lightButton" th:onclick="|location.href='@{/registration}'|">
          <div class="in-button">
            <img src="img/Edit.png" alt="이미지" class="img-fluid mb-2" />
            <br />
            <span class="kr-info">방문 신청</span>
            <br />
            <span>Visitor Registration</span>
          </div>
        </button>
      </div>
      <div class="col-6 col-md">
        <button type="button" class="common-button even darkButton" th:onclick="|location.href='@{/progress}'|">
          <div class="in-button">
            <img
                    src="img/searchItem.png"
                    alt="이미지"
                    class="img-fluid mb-2"
            />
            <br />
            <span class="kr-info">방문 신청 내역 조회</span>
            <br />
            <span>Check Progress</span>
          </div>
        </button>
      </div>
      <div class="col-6 col-md">
        <button type="button" class="common-button odd darkButton" th:onclick="|location.href='@{/list}'|">
          <div class="in-button">
            <img src="img/list.png" alt="이미지" class="img-fluid mb-2" />
            <br />
            <span class="kr-info">전체 예약 리스트</span>
            <br />
            <span>All Registration List</span>
          </div>
        </button>
      </div>
      <div class="col-6 col-md">
        <button type="button" class="common-button even lightButton" th:onclick="|location.href='@{/checkIn}'|">
          <div class="in-button">
            <img
                    src="img/TimeLimit.png"
                    alt="이미지"
                    class="img-fluid mb-2"
            />
            <br />
            <span class="kr-info">방문 예정</span>
            <br />
            <span>Check-In</span>
          </div>
        </button>
      </div>
      <div class="col-6 col-md">
        <button type="button" class="common-button odd lightButton" th:onclick="|location.href='@{/checkOut}'|">
          <div class="in-button">
            <img
                    src="img/Building.png"
                    alt="이미지"
                    class="img-fluid mb-2"
            />
            <br />
            <span class="kr-info">방문 진행중</span>
            <br />
            <span>Check-out</span>
          </div>
        </button>
      </div>
    </div>
  </main>
</div>
</body>
</html>
