<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/common :: head}"> </head>
<head>
  <link rel="stylesheet" href="css/registration.css" />
  <script></script>
</head>

<body>
<form action="#" th:action="@{/registration}" th:object="${board}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
  <div class="content">
    <!-- 페이지 내용 -->
    <div id="wrapper">
      <div class="container">
        <div class="py-3">
          <div class="registration">
            <h2 class="text-center" style="padding-top: 10px;">방문 신청</h2>
            <!--등록자 정보-->
            <div class="row margin-top-20">
              <div class="col-sm-12">
                <div class="icon-header">
                  <i class="fas fa-check"></i>
                </div>
                <h4 class="inline-h">등록자 정보</h4>
              </div>

              <table class="table" style="margin-top: 10px">
                <tbody>
                <tr>
                  <th class="plant"><label for="plant">계열사</label></th>
                  <td colspan="3">
                    <div class="plant-info">
                      ※ 자신의 소속이 아닌, 현재 근무하고 있는 곳을 선택.
                    </div>
                    <select class="form-select btn-outline" id="plant" name="plant" th:field="*{PLANT}">
                      <option value="" selected  style="display: none;">계열사 선택</option>
                      <option value=0>SL(주)-진량공장</option>
                      <!--<option value=1> SL(주)-노원공장</option>-->
                      <option value=2>SL(주)-대구공장</option>
                      <option value=3>SL(주)-성산공장</option>
                      <option value=4>SL(주)-천안공장</option>
                      <!--                      <option value=5>SL 서봉-시흥공장</option>-->
                      <!--                      <option value=6>SL 서봉-화성공장</option>-->
                      <option value=8>SL(주)-안산공장</option>
                      <option value=10>SL 전자공장(성서)</option>
                      <!--                      <option value=11>SHB 진량</option>-->
                      <!--                      <option value=12>SHB 울산</option>-->
                      <!--                      <option value=13>SHB 서산</option>-->
                      <!--                      <option value=14>SHB 화성</option>-->
                      <!--                      <option value=15>SL미러텍 </option>-->
                      <!--                      <option value=16>KDS</option>-->
                    </select>
                  </td>
                </tr>
                <tr>
                  <th><label for="name">성명</label></th>
                  <td>
                    <input type="text" class="form-control" id="name" th:field="*{userName}"/>
                  </td>
                  <th><label for="dept">부서</label></th>
                  <td>
                    <input type="text" class="form-control" id="dept" th:field="*{DEPT_NAME}"/>
                  </td>
                </tr>
                <tr>
                  <th><label for="email">이메일</label></th>
                  <td>
                    <input type="email" class="form-control" id="email" th:field="*{EMAIL}" />
                  </td>
                  <th><label for="tel">내선번호</label></th>
                  <td>
                    <input type="tel" class="form-control" id="tel" th:field="*{TEL}"  />
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--등록자  끝-->

            <!--방문 정보-->
            <div class="row margin-top-20">
              <div class="col-sm-12">
                <div class="icon-header">
                  <i class="fas fa-check"></i>
                </div>
                <h4 class="inline-h">방문 정보</h4>
              </div>

              <table class="table" style="margin-top: 10px">
                <tbody>
                <tr>
                  <th><label for="title">제목</label></th>
                  <td>
                    <input type="text" class="form-control" id="title"  th:field="*{TITLE}" required/>
                  </td>
                  <th><label for="date">내방예정일</label></th>
                  <td>
                    <input
                            type="date"
                            id="date"
                            class="form-control"
                            placeholder="날짜 선택"
                            aria-describedby="basic-addon2"
                            required
                            th:field="*{deDate}"
                    />
                  </td>
                </tr>

                <tr>
                  <th>보안스티커</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="attach" id="inlineRadio1" value="부착" th:checked="${board.ATTACH == '부착'}" th:field="*{ATTACH}" />
                      <label class="form-check-label" for="inlineRadio1">부착</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="attach" id="inlineRadio2" value="미부착" th:checked="${board.ATTACH == '미부착'}" th:field="*{ATTACH}" />
                      <label class="form-check-label" for="inlineRadio2">미부착</label>
                    </div>
                  </td>
                  <th><label for="car-num">차량번호</label></th>
                  <td>
                    <input type="text" class="form-control" id="car-num" th:field="*{CAR_NUMBER}"/>
                  </td>
                </tr>

                <tr>
                  <th><label for="purpose">내방 목적</label></th>
                  <td colspan="3">
                    <select class="form-select btn-outline" id="purpose" name="purpose" th:field="*{VISIT_PURPOSE}" required >
                      <option value="" selected  style="display: none;">내방 목적 선택</option>
                      <option value="업무협의(면담, 회의)">업무협의(면담, 회의)</option>
                      <option value="납품">납품</option>
                      <option value="시험용 차량">시험용 차량</option>
                      <option value="시설 보수">시설 보수</option>
                      <option value="제조 설비 보수">제조 설비 보수</option>
                      <option value="사무기기 A/S">사무기기 A/S</option>
                      <option value="기타">기타 (상세내역 필수)</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th class="content">
                    <label for="content" >상세내역</label>
                  </th>
                  <td colspan="3" class="h-100">
                      <textarea
                              class="form-control contentArea"
                              rows="3"
                              id="content"
                              th:field="*{CONTENT_VISIT}"
                      ></textarea>
                  </td>
                </tr>
                <tr>
                  <th>파일 첨부</th>
                  <td colspan="3">
                    <div>
                      <input type="file" multiple="multiple" name="files" onchange="showFileList()"  accept="image/*">
                    </div>
                    <p id="total-size">(파일 용량 합계: 0.00 KB)</p>
                    <div id="file-list"></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--방문 정보  끝-->

            <!--방문객 정보-->
            <div class="row margin-top-20" id="tables">
              <div class="col-sm-12">
                <div class="icon-header">
                  <i class="fas fa-check"></i>
                </div>
                <h4 class="inline-h">방문객 정보</h4>
                <button
                        class="btn plus-button"
                        type="button"
                        id="plusBtn"
                        onclick="addTable()"
                >
                  방문객 추가
                </button>
              </div>

              <table class="table" style="margin-top: 10px">

                <tr>
                  <th><label for="visitor-name-0">이름</label></th>
                  <td>
                    <input
                            type="text"
                            class="form-control"
                            id="visitor-name-0"
                            th:field="*{VISITOR}"
                            required
                    />
                  </td>
                </tr>
                <tr>
                  <th><label for="visit-company-0">업체명</label></th>
                  <td>
                    <input
                            type="text"
                            class="form-control"
                            id="visit-company-0"
                            th:field="*{visitAssign}"
                    />
                  </td>
                  <th><label for="visit-class-0">직급</label></th>
                  <td>
                    <input
                            type="text"
                            class="form-control"
                            id="visit-class-0"
                            th:field="*{VISIT_CLASS}"
                    />
                  </td>
                </tr>
                <tr>
                  <th><label for="visit-phone-0">전화번호</label></th>
                  <td>
                    <input type="tel" class="form-control" id="visit-phone-0" th:field="*{VISITOR_PHONE}"/>
                  </td>
                  <th><label for="visit-email-0">이메일</label></th>
                  <td>
                    <input
                            type="email"
                            class="form-control"
                            id="visit-email-0"
                            th:field="*{VISITOR_EMAIL}"
                    />
                  </td>
                </tr>
              </table>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <!-- 하단 고정 바 -->
    <button class="btn btn-action" type="submit">등록</button>
    <button class="btn btn-action list" type="button" onclick="goList()">목록</button>
  </div>
</form>

<script src="js/registration.js"></script>
</body>
</html>