<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{fragments/common :: head}"> </head>
  <head>
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>


    <form method="POST" action="/session/admin">

      <div class="text-center" onclick="this.parentNode.submit()" style="margin-top:200px;">
        <h1 style="margin-bottom:10px;">아래의 연결한 세션 텍스트를 눌러주세요.</h1>
        <h3>관리자 세션</h3>
      </div>
    </form>

    <form method="POST" action="/session/worker">
      <div class="text-center" onclick="this.parentNode.submit()" style="margin-top:20px;">
        <h3>임직원 세션</h3>
      </div>
    </form>

    <form method="POST" action="/session/guard">
      <div class="text-center" onclick="this.parentNode.submit()" style="margin-top:20px;">
        <h3>경비 세션</h3>
      </div>
    </form>
  </body>
</html>
